데이터 로드하기

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('mtcars.csv')

In [3]:
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

In [4]:
print(data.shape)

(32, 12)

In [5]:
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,18.7,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(data.columns) #data 변수의 열 이름 확인하기

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [8]:
print(data.describe()) #기초통계량 구하기

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [9]:
print(data['hp'].describe()) #hp 수치형 변수의 기초 통계량 구하기

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [10]:
print(data['am'].unique()) #am칼럼에서 중복 제거한 값들 구하기

['manual' 'auto']

In [11]:
print(data['gear'].unique()) #gear 칼럼에서 중복 제거한 값을 구하기

['4' '3' '*3' '5' '*5']

In [13]:
data['vs'].unique() #vs칼럼에서 중복 제거한 값들 구하기

array([0, 1], dtype=int64)

In [14]:
print(data.info()) #데이터 요약정보 구하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [15]:
print(data.corr()) #상관관계

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

In [16]:
X = data.drop(columns='mpg') #독립변수 만들기

In [17]:
Y = data['mpg'] #종속변수 만들기

In [19]:
print(X.head()) #독립변수의 상위 5행 확인하기

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [22]:
print(X.columns) #독립변수 컬럼명 출력하기

Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [21]:
print(Y.head()) #종속변수 확인하기

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

데이터 전처리하기

In [24]:
print(X.head()) #Unnamed는 종속변수에 영향을 안주므로 삭제하기

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [25]:
X=X.iloc[:,1:] #X변수의 전체행과 1번 열-맨끝 열까지 추출후 다시 X변수에 저장하기

In [27]:
print(X.head()) #불필요한 열 삭제 확인

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

결측치 처리하기

In [28]:
X.isnull().head(3) #X변수의 결측치 여부에 대한 결과를 상위 3개만 확인하기

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [29]:
print(X.isnull().sum()) #결측치 개수세기

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [30]:
X_cyl_mean = X['cyl'].mean() #cyl열의 평균값을 X_cyl_mean 변수에 저장하기

In [31]:
print(X_cyl_mean)

7.6

In [32]:
X['cyl']=X['cyl'].fillna(X_cyl_mean) #cyl열의 결측치를 X_cyl_mean 값으로 채운 후 다시 cyl열에 저장하기

In [33]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [34]:
X_qsec_median =X['qsec'].median()

In [35]:
print(X_qsec_median)

17.6

In [36]:
X['qsec']=X['qsec'].fillna(X_qsec_median)

In [38]:
print(X['qsec'].isnull().sum())

0

In [39]:
print(X['gear'].unique()) #gear의 열 값 확인

['4' '3' '*3' '5' '*5']

In [40]:
print(X['gear'].replace('*3','3').replace('*5','5')) #gear의 열의 *3은 3으로 *5는 5로 바꾼 경우의 값 확인

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [42]:
X['gear']=X['gear'].replace('*3','3').replace('*5','5') #바꾼값 다시 gear열에 저장하기

In [43]:
print(X['gear'].unique()) #중복되지 않은 값 출력

['4' '3' '5']

이상값 처리하기

In [63]:
X_describe = X.describe() #기초통계량을 구한 후 X_describe 변수에 저장

In [64]:
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [65]:
print(X_describe.loc['75%'],X_describe.loc['25%']) #75%행과 25%행 추출

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [66]:
X_iqr = X_describe.loc['75%']-X_describe.loc['25%'] #IQR 계산한 후 X_iqr 변수에 저장하기

In [67]:
print(X_iqr) #IQR값 확인하기

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

3사분위수 +1.5*IQR을 초과하는 이상값 구하기

In [68]:
print(X_describe.loc['75%']+(1.5*X_iqr)) #최대 경계값

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [69]:
print(X_describe.loc['max']) #최대값이 최대 경계값보다 클 경우 이상값 존재 (hp, wt, qsec, carb 열 이상값 존재)

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [71]:
print(X.loc[X['cyl']>14]) #cyl열 값이 14를 초과하는 값 추출하기

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [74]:
X.loc[14,'cyl']=14 #X변수에서 인덱스 14이고 열이 cyl인 값을 14로 변경하기

In [73]:
X.loc[14,'cyl']

14.0

In [77]:
print(X.loc[X['hp']>305.25]) #hp열 값이 305.25를 초과하는 값 추출하기

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [79]:
X.loc[30,'hp']=305.25 #X변수에서 인덱스 30이고 열이 hp인 값을 305.25로 변경하기
print(X.loc[30,'hp']) #X변수에서 인덱스 30이고 열 hp인 값 확인하기

305.25

최소 이상값 처리 25% - (1.5*iqr) 최소경계값

In [81]:
print(X_describe.loc['25%']-(X_iqr*1.5)) #1사분위수 - 1.5*IQR 구하기

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [83]:
print(X_describe.loc['min']) #최소값확인 최소값이 최소경계값보다 적은게 없으므로 처리할 이상값 없음

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

평균과 표준편차를 활용해 이상값 처리

In [94]:
#outlier 함수 만들기
def outlier(data,column):
    mean =data[column].mean()
    std = data[column].std()
    lowest = mean - (std*1.5)
    highest = mean + (std*1.5)
    print('최소 경계값 : ',lowest, '최대 경계값 :', highest)
    outlier_index = data[column][ (data[column] < lowest)\
                                | (data[column] > highest) ].index
    return outlier_index

In [95]:
# X변수와 qsec열을 전달하여 이상값 정보를 출력하기
print(outlier(X,'qsec'))

최소 경계값 :  -2.8043094560577657 최대 경계값 : 42.39618445605777
Int64Index([24], dtype='int64')

In [93]:
print(X.loc[24,'qsec']) #인덱스 24, 열이 qsec인 값 확인

100.0

In [98]:
X.loc[24,'qsec']=42.4 #이상값 100을 최대경계값으로 변경하기

In [99]:
print(X.loc[24,'qsec'])

42.4

In [100]:
print(outlier(X,'carb')) #X변수와 carb열을 전달하여 이상값 정보를 추출하기

최소 경계값 :  0.3897000335522218 최대 경계값 : 5.235299966447778
Int64Index([29, 30], dtype='int64')

In [101]:
print(X.loc[[29,30],'carb']) #최대경계값 5.235보다 큰 6,8

29    6
30    8
Name: carb, dtype: int64

In [102]:
X.loc[29,'carb'] =5.235 #최대경계값으로 변경하기
X.loc[30,'carb']=5.235

In [104]:
print(X.loc[[29,30],'carb'])

29    5.235
30    5.235
Name: carb, dtype: float64

데이터를 동일한 범위로 맞추기 데이터 스케일링

표준 크기변환 StandardScaler 평균이 0 표준편차가 1로 변환

In [105]:
from sklearn.preprocessing import StandardScaler

In [106]:
temp = X[['qsec']] #X변수에서 qsec 열만 추출한 후 temp 변수에 저장하기

In [107]:
scaler = StandardScaler() #StandardScaler 함수 호출하여 표준 크기변환 기능을 같는 Scaler 객체 만들기

In [108]:
print(scaler.fit_transform(temp)) #scaler에게 fit_transform 명령으로 temp 변수의 크기변환 요청

[[-2.73141413e-01]
 [-1.73554554e-01]
 [ 1.09200992e-01]
 [-3.18250037e+00]
 [-1.73554554e-01]
 [ 3.95513212e-01]
 [-3.83398293e-01]
 [ 3.56389804e-01]
 [ 8.72107467e-01]
 [ 5.40725524e-02]
 [-7.04110215e-02]
 [-1.05977757e-01]
 [-7.04110215e-02]
 [ 7.22449313e-04]
 [-2.83422423e-03]
 [-3.12876126e-02]
 [-1.02421083e-01]
 [ 2.62137955e-01]
 [ 9.31959614e-02]
 [ 3.38606436e-01]
 [ 3.58168140e-01]
 [-2.00229606e-01]
 [-1.23761125e-01]
 [-4.59866774e-01]
 [ 4.33986417e+00]
 [ 1.60772759e-01]
 [-2.30461331e-01]
 [-1.94894596e-01]
 [-6.21695421e-01]
 [-4.43861743e-01]
 [-6.03912053e-01]
 [ 1.07422656e-01]]

In [109]:
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp)) # 표준 크기변환을 수행한 결과를 qsec_s_scaler 변수에 저장

In [111]:
print(qsec_s_scaler.describe()) #qesc_s_scaler 변수의 기초 통계량 확인하기 평균은 0에 근사 표준편차는 1에 근사한 정규분포로 변화

                  0
count  3.200000e+01
mean  -6.461845e-16
std    1.016001e+00
min   -3.182500e+00
25%   -2.077875e-01
50%   -7.041102e-02
75%    1.220939e-01
max    4.339864e+00

최소- 최대 크기변환 MinMaxScaler
최소값이 0 최댓값이 1로 변환

In [112]:
from sklearn.preprocessing import MinMaxScaler

In [113]:
temp = X[['qsec']]

In [114]:
scaler = MinMaxScaler() #MinMaxScaler 함수 호출하여 최소-최대 크기변환 기능을 갖는 scaler 객체 만들기

In [115]:
#최소최대크기변환 기능이 있는 scaler에게 temp변수의 크기변환을 요청하고
#변환결과는 qsec_m_scaler 변수에 저장하기
qsec_m_scaler = pd.DataFrame(scaler.fit_transform(temp))

In [116]:
#최소최대 크기변환 결과인 qsec_m_scaler 변수 확인
print(qsec_m_scaler)

           0
0   0.386761
1   0.400000
2   0.437589
3   0.000000
4   0.400000
5   0.475650
6   0.372104
7   0.470449
8   0.539007
9   0.430260
10  0.413712
11  0.408983
12  0.413712
13  0.423168
14  0.422695
15  0.418913
16  0.409456
17  0.457920
18  0.435461
19  0.468085
20  0.470686
21  0.396454
22  0.406619
23  0.361939
24  1.000000
25  0.444444
26  0.392435
27  0.397163
28  0.340426
29  0.364066
30  0.342790
31  0.437352

In [117]:
print(qsec_m_scaler.describe()) #최소값은 0 최대값은 1로 변환된거 확인

               0
count  32.000000
mean    0.423072
std     0.135064
min     0.000000
25%     0.395449
50%     0.413712
75%     0.439303
max     1.000000

로버스트 크기변환 RobustScaler
중앙값이 0 IQR이 1인 분포로 변환

In [123]:
from sklearn.preprocessing import RobustScaler

In [124]:
temp = X[['qsec']]

In [128]:
scaler= RobustScaler()

In [129]:
#로버스트 크기변환 기능이 있는 scaler에게 temp 변수의 크기변환을 요청하고
#변환 결과는 qsec_r_scaler 변수에 저장하기
qesc_r_scaler = pd.DataFrame(scaler.fit_transform(temp))

In [130]:
#로버스트 크기변환 결과인 qsec_r_scaler 변수 확인하기
print(qesc_r_scaler)

            0
0   -0.614555
1   -0.312668
2    0.544474
3   -9.433962
4   -0.312668
5    1.412399
6   -0.948787
7    1.293801
8    2.857143
9    0.377358
10   0.000000
11  -0.107817
12   0.000000
13   0.215633
14   0.204852
15   0.118598
16  -0.097035
17   1.008086
18   0.495957
19   1.239892
20   1.299191
21  -0.393531
22  -0.161725
23  -1.180593
24  13.369272
25   0.700809
26  -0.485175
27  -0.377358
28  -1.671159
29  -1.132075
30  -1.617251
31   0.539084

In [131]:
print(qesc_r_scaler.describe()) #중위값 50% 0 IQR 1에근사

               0
count  32.000000
mean    0.213443
std     3.079897
min    -9.433962
25%    -0.416442
50%     0.000000
75%     0.583558
max    13.369272

데이터 타입 변경하기

In [132]:
print(X.info()) #X변수의 요약정보 확인하기 범주형 : object 연속형 : int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [133]:
#gear(기어 개수)의 열의 데이터 타입을 int64로 변경한 후 다시 gear 열에 저장
X['gear'] = X['gear'].astype('int64')

In [135]:
X['gear'].dtype #gear열의 데이터 타입(dtype)확인하기

dtype('int64')

범주형을 수치형으로 변경하기 : 인코딩

원핫 인코딩 One-Hot Encoding 각 범주형 데이터를 개별 열로 만들고 각 열에 해당하는 값에만 1로 설정 나머지 0 <br>
결과의 왜곡이 적고 변환된 값의 서열이 없다는 특징 주로 사용

In [136]:
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0

In [137]:
print(X['am'].unique()) #am열에서 중복 제거한 값들을 확인하기

['manual' 'auto']

In [138]:
print(pd.get_dummies(X['am'])) #X변수의 am열에 대해서 원핫 인코딩 수행하기 변속기 유형(1)

    auto  manual
0      0       1
1      0       1
2      0       1
3      1       0
4      1       0
5      1       0
6      1       0
7      1       0
8      1       0
9      1       0
10     1       0
11     1       0
12     1       0
13     1       0
14     1       0
15     1       0
16     1       0
17     0       1
18     0       1
19     0       1
20     1       0
21     1       0
22     1       0
23     1       0
24     1       0
25     0       1
26     0       1
27     0       1
28     0       1
29     0       1
30     0       1
31     0       1

In [139]:
print(pd.get_dummies(X['am'],drop_first=True)) #X변수의 am열에 원핫 인코딩 수행 단 생성된 첫 번째 열은 삭제 변속기 유형 원핫인코딩(2)

    manual
0        1
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       1
27       1
28       1
29       1
30       1
31       1

In [140]:
#X변수의 데이터 타입 확인
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     int64
 9   carb    32 non-null     float64
dtypes: float64(7), int64(2), object(1)
memory usage: 2.6+ KB
None

In [141]:
#X변수의 전체 열을 대상으로 원핫 인코딩 수행
print(pd.get_dummies(X,drop_first=True))

     cyl   disp      hp  drat     wt   qsec  vs  gear   carb  am_manual
0    6.0  160.0  110.00  3.90  2.620  16.46   0     4  4.000          1
1    6.0  160.0  110.00  3.90  2.875  17.02   0     4  4.000          1
2    4.0  108.0   93.00  3.85  2.320  18.61   1     4  1.000          1
3    6.0  258.0  110.00  3.08  3.215   0.10   1     3  1.000          0
4    8.0  360.0  175.00  3.15  3.440  17.02   0     3  2.000          0
5    6.0  225.0  105.00  2.76  3.460  20.22   1     3  1.000          0
6    8.0  360.0  245.00  3.21  3.570  15.84   0     3  4.000          0
7    7.6  146.7   62.00  3.69  3.190  20.00   1     4  2.000          0
8    4.0  140.8   95.00  3.92  3.150  22.90   1     4  2.000          0
9    6.0  167.6  123.00  3.92  3.440  18.30   1     4  4.000          0
10   6.0  167.6  123.00  3.92  3.440  17.60   1     4  4.000          0
11   8.0  275.8  180.00  3.07  4.070  17.40   0     3  3.000          0
12   8.0  275.8  180.00  3.07  3.730  17.60   0     3  3.000          0
13   8.0  275.8  180.00  3.07  3.780  18.00   0     3  3.000          0
14  14.0  472.0  205.00  2.93  5.250  17.98   0     3  4.000          0
15   8.0  460.0  215.00  3.00  5.424  17.82   0     3  4.000          0
16   8.0  440.0  230.00  3.23  5.345  17.42   0     3  4.000          0
17   4.0   78.7   66.00  4.08  2.200  19.47   1     4  1.000          1
18   4.0   75.7   52.00  4.93  1.615  18.52   1     4  2.000          1
19   4.0   71.1   65.00  4.22  1.835  19.90   1     4  1.000          1
20   4.0  120.1   97.00  3.70  2.465  20.01   1     3  1.000          0
21   8.0  318.0  150.00  2.76  3.520  16.87   0     3  2.000          0
22   8.0  304.0  150.00  3.15  3.435  17.30   0     3  2.000          0
23   8.0  350.0  245.00  3.73  3.840  15.41   0     3  4.000          0
24   7.6  400.0  175.00  3.08  3.845  42.40   0     3  2.000          0
25   4.0   79.0   66.00  4.08  1.935  18.90   1     4  1.000          1
26   4.0  120.3   91.00  4.43  2.140  16.70   0     5  2.000          1
27   4.0   95.1  113.00  3.77  1.513  16.90   1     5  2.000          1
28   8.0  351.0  264.00  4.22  3.170  14.50   0     5  4.000          1
29   6.0  145.0  175.00  3.62  2.770  15.50   0     5  5.235          1
30   8.0  301.0  305.25  3.54  3.570  14.60   0     5  5.235          1
31   4.0  121.0  109.00  4.11  2.780  18.60   1     4  2.000          1

라벨 인코딩 : Label Encoding <br>
범주형 변수를 일련번호를 부여하는 방식의 연속형 변수로 변환

In [142]:
print(X['am'].head())

0    manual
1    manual
2    manual
3      auto
4      auto
Name: am, dtype: object

In [143]:
from sklearn.preprocessing import LabelEncoder #sklearn 라이브러리에서 LabelEncoder 함수 가져오기

In [144]:
#LabelEncoder 호출을 통해 인코딩 기능을 갖는 encoder 변수를 만들기
encoder = LabelEncoder()

In [146]:
#encoder을 통해 am열 값에 대해 라벨 인코딩 수행하기
print(encoder.fit_transform(X['am'])) #인코더에 'am'값을 넣어서 변환하기 manual은 1 auto는 0으로 바뀜

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

3가지 종류의 범주형 변수 라벨 인코딩 하기

In [147]:
# 3가지 과일이 들어 있는 fruit 변수 만들기
fruit =['apple','banana','grape']

In [148]:
#LabelEncoder 호출을 통해 라벨 인코딩 기능을 갖는 encoder 변수 만들기
encoder= LabelEncoder()

In [149]:
#encoder을 통해 fruit 변수에 대한 라벨 인코딩 수행 후 결과는 fruit_new에 저장
fruit_new = encoder.fit_transform(fruit)

In [150]:
print(fruit,fruit_new) #기존 fruit 변수와 라벨 인코딩한 fruit_new 변수 비교

['apple', 'banana', 'grape'] [0 1 2]

수동 인코딩 : Replace <br>
ex) 합격/불합격, 신청/미신청, 방문/미방문 등의 이진 데이터는 수동으로 인코딩하기 쉬움

In [151]:
#am 열에서 manual은 0으로 auto는 1로 변경한 후 새로운 am_new에 저장
X['am_new']= X['am'].replace('manual',0).replace('auto',1)

In [152]:
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0       1

In [154]:
X=X.drop(columns=['am']) #기존 am열은 불필요함으로 삭제한 후 다시 X변수에 저장

In [155]:
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0       1

파생변수 만들기